
.logo-item
{
    width: 20%;
}

main
{
    font-family: 'Catamaran', sans-serif;
}
h1
{
    margin-top: 2rem;
}   
.police
{
    font-family: 'Luckiest Guy', cursive;
    font-size: 19px;
}


/*Carousel*/
.box-carousel
{
    padding-right: 0;
    padding-left: 0; 
}

/*Footer*/
.footer-info 
{
    width: 100%;
}

.box
{
    border: 2px solid black;
}

.mrBox
{
    top: -1rem;
    font-size: 16px;
    left: 20px;
}
.btn-light
{
    color: rgba(0,203,179);
    margin-left: 26%;
    background-color: white;
    border: 1px solid rgba(0,203,179);
}
.btn-light:hover
{
    color: rgba(0,203,179);
    margin-left: 26%;
    background-color: white;
    border: 1px solid rgba(0,203,179);
}

.placeholderLogo
{
    margin-top: 15%;
    margin-left: 11%;
    margin-bottom: 11%;
}

.entrepriseText
{
    height: 73%;
    width: 70%;
    overflow: hidden;
}
.card
{
    border: 0px solid beige;
}
.expandButton
{
    position: relative;
    right: 1%;
}
.expandButton{
    position: absolute;
    top: 12%;
    right: 15%;
}
footer 
{
    background-color: grey;
    text-decoration-color: white;
}