/*Carousel*/
.photos
{
  padding-right: 0;
  padding-left: 0;
}

/*header*/
.container-header {
    
}


/*Footer*/
.container-footer 
{
    margin-left: 15px;
}

.footer-info 
{
    position: relative;
    left: 15px;
    width: 400px;
}

.footer-map 
{
    position: relative;
    right: 15px;
}

.box
{
    border: 2px solid black;
}

.mrBox
{
    background-color: white;
    width: 85px;
    height: 25px;
    left: 5%;
    top: -10px;
}

.placeholderLogo
{
    margin-top: 15%;
    margin-left: 11%;
    margin-bottom: 11%;
}

.entrepriseText
{
    height: 73%;
    width: 70%;
    overflow: hidden;
}


.photoBox
{
    margin-top: -25px;
    margin-left: 50px;
}

.expandButton
{
    position: relative;
    right: 1%;
}
